{% extends "layout.html" %}
{% block body %}
   
    {% if user.is_authenticated %}

        <div class="form-wrap">
            <h3 class="mb-3">Add a new project</h3>
            <form action="{% url 'new_project' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Project Title</label>
                    <input class="form-control" type="text" name="title" placeholder="Project Title">
                </div>
                <div class="form-group">
                    <label for="project_logo" class="d-block">Project Logo</label>
                    <input type="file" name="project_logo" id="project_logo">
                </div>
                <div class="form-group">
                    <label for="users">Related Users (users with access to this project).</label>
                    <select name="users" id="users" class="form-control" multiple>
                        <!-- <option value="{{current_user.id}}" selected>{{ current_user.username }}</option> -->
                        <!-- can I delete the current user from this list? -->
                        {% for user in users %}
                            <option value="{{user.id}}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Add Project">
            </form>
        </div>

    {% else %}
        <h2>Please Log in to see this page.</h2>
        <a href="{% url 'list' %}"></a>
    {% endif %}
  
{% endblock %}