{% extends "layout.html" %}

{% block body %}
   

    <h1>All Projects</h1>

    {% if user.is_authenticated %}
        <h2>Welcome {{user.name}}</h2>

        <p>Add a new project:</p>

        <form action="{% url 'new_project' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" name="title" placeholder="Project Title">
            </div>
            <div class="form-group">
                <label for="notifications">Enable Notifications</label>
                <input type="checkbox" name="notifications" id="notifications">
            </div>
            <div class="form-group">
                <label for="users">Related Users (users with access to this project).</label>
                <select name="users" id="users" multiple>
                        <option value="admin.username" selected>{{ admin.username }}</option>

                        <!-- can I delete the admin from this list? -->
                        {% for user in users %}
                            <option value="user.username">{{ user.username }}</option>
                        {% endfor %}
                </select>
            </div>
            <input class="btn btn-primary" type="submit" value="Add Project">
        </form>

    {% else %}
        <h2>Please Log in to see this page.</h2>
        <a href="{% url 'list' %}"></a>
    {% endif %}
  
{% endblock %}