{% extends "layout.html" %}

{% block body %}
   

    {% if user.is_authenticated %}
        <h2 class="mb-5">Welcome {{current_user.username}}</h2>

        <p>Add a new project:</p>

        <form action="{% url 'new_project' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" name="title" placeholder="Project Title">
            </div>
            <!-- <div class="form-group">
                <label for="notifications">Enable Notifications</label>
                <input type="checkbox" name="notifications" id="notifications">
            </div> -->
            <div class="form-group">
                <label for="project_logo">Project Logo</label>
                <input type="file" name="project_logo" id="project_logo">
            </div>
            <div class="form-group">
                <label for="users">Related Users (users with access to this project).</label>
                <select name="users" id="users" multiple>
                    <!-- <option value="{{current_user.id}}" selected>{{ current_user.username }}</option> -->
                    <!-- can I delete the current user from this list? -->
                    {% for user in users if user is not current_user %}
                        <option value="{{user.id}}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <input class="btn btn-primary" type="submit" value="Add Project">
        </form>

    {% else %}
        <h2>Please Log in to see this page.</h2>
        <a href="{% url 'list' %}"></a>
    {% endif %}
  
{% endblock %}