{% extends "layout.html" %}

{% block body %}
    {% load static %}

    <div class="project">
        <div class="d-flex align-center mb-3">
            <h2 class="mr-3 mb-0">{{ project.title }}</h2>
            <img src="{% static 'img' %}/{{project.project_logo}}" alt="{{ project.title }}">
        </div>
        
        <!-- Only show if admin -->
        <a href="{% url 'edit_project' project.id %}" class="btn btn-primary">Edit Project</a>
        <p>Project Users:</p>
        <ul>
        {% for user in project_users_list %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>

        <p>Project Phases:</p>
        <ul></ul>
            {% for phase in phases %}
                <li>
                    <p>{{ phase.name }}</p>
                    <p>Start: {{ phase.start_date }}</p>
                    <p>End: {{ phase.end_date }}</p>
                    <p>
                        {% if phase.completed is False %}
                        <span>
                            Not
                        </span>
                        {% endif %}
                        Completed
                    </p>
                </li>

            {% endfor %}
        </ul>
        <form action="{% url 'project' project.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Phase Name">
            </div>
            <div class="form-group">
                <label for="notifications">Start Date</label>
                <input type="date" name="start" id="start">
            </div>
            <div class="form-group">
                <label for="notifications">End Date</label>
                <input type="date" name="end" id="start">
            </div>
            <div class="form-group">
                <label for="notifications">Completed?</label>
                <input type="checkbox" name="notifications" id="notifications">
            </div>
            <input class="btn btn-primary" type="submit" name="add_phase" value="Add Phase">
        </form>
    </div>
{% endblock %}